APP_NAME=mauth
SERVER_ADDR=127.0.0.1:5610
RUST_LOG=mauth=debug,tower_http=info,axum::rejection=trace
DATABASE_URL=postgres://username:password@host:5432/database
DATABASE_MAX_CONNECTIONS=20
DATABASE_CONNECT_TIMEOUT_SECS=8
DATABASE_SQLX_LOGGING=false
AUTH_ISSUER=mauth
